els * {
	margin: 0;
	padding: 0;
}

body {
	font-family:'Montserrat', Verdana, Geneva, Arial, Helvetica, sans-serif;
    background: url("resources/background.jpg") repeat;
	overflow-x:hidden;
}

a:link, a:visited {
	color: inherit;
	text-decoration: none;
}

.page {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#000;
    background-color:rgba(0,5,15,0.95);
	text-align:center;
	color:#EEE;
}

.page .pager:not(#home) {
    display: none;
}

.page .pager .title {
    position: absolute;
    width:100%;
    text-align:center;
    font-size: 50px;
}


/* HOME */

.page .pager#home .title {
	position:relative;
	color: #FFF;
	letter-spacing:-4px;
}

.page .pager#home .title .blue {
	display:none;
	color:#C00;
}

.page .pager#home .title .other {
	opacity: 0;
	font-size: 0;
}

.page .pager#home .subtitle {
	position: relative;
	top:20px;
	font-size:50px;
	color:rgba(255,255,255,0.6);
	padding:10px;
	width: auto;
	max-width: 100%;
}

.page .pager#home .help {
    position:absolute;
    bottom:0px;
    padding-bottom:10px;
    width: 100%;
    text-align:center;
    display:none;
    color:rgba(255,255,255,0.8);
}


/* COMMANDS */

.page .pager#commands #commandsWrapper {
    width:100%;
    text-align:center;
    position:absolute;
    top:150px;
}

.page .pager#commands .commandRow {
    display:none;
    margin-top:10px;
}

.page .pager#commands .commandKey {
    display:inline-block;
    background-color: #FFF;
    width:40px;
    height:40px;
    line-height:40px;
    color: #069;
    border-top:solid 2px #DDD;
    border-left: solid 2px #DDD;
    border-bottom: solid 7px #DDD;
    border-right: solid 7px #DDD;
    border-radius:2px;
    vertical-align:middle;
}

.page .pager#commands .commandDescription {
    display:inline-block;
    margin-left:20px;
}