@font-face
{
	font-family: asdf;
	src: url(kapak.ttf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(http://upload.wikimedia.org/wikipedia/commons/b/b0/Pinus_peuce_in_Pelister.jpg);
	background-size:contain;
	background-position: 0px -300px;
	font-family:'Montserrat', asdf, Verdana, Geneva, Arial, Helvetica, sans-serif;
	overflow-x:hidden;
}

.homeWrapper {
	background-color:rgba(1,0,50,0.7);
	text-align:center;
	color:#EEE;
	
}

.homeWrapper .itemsWrapper {
}

.homeWrapper .title {
	position:relative;
	color: #FFF;
	font-size:100px;
	letter-spacing:-4px;
}

.blue {
	display:none;
	color:#C00;
}

.other {
	font-size:0;
	opacity: 0;
}

.homeWrapper .subtitle {
	position:relative;
	top:20px;
	font-size:42px;
	color:rgba(255,255,255,0.8);
	padding:10px;
	width: auto;
	max-width: 100%;
}

.workWrapper {
	font-family: 'Indie Flower', cursive;
	min-height:1000px;
}

.workWrapper, .infoWrapper {
	position:relative;
	z-index:2;
	background-color: #EEE;
}

.workWrapper .itemsWrapper {
	position: relative;
	margin: 0 auto;
	width:60%;
	text-align:center;
	padding-top:30px;
}

.workWrapper .title#main {
	font-size:66px;
	margin-top:50px;
}

.workWrapper .itemsWrapper .title {
	font-size:52px;
	color:#333;
	margin-top:30px;
}



.workWrapper .itemsWrapper .photos img {
	margin-top: 20px;
	width:100%;
}

.itemBox {
	font-family:'Montserrat', Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align:left;
	background-color:rgba(0,0,0,0.05);
	background-size:cover;
	min-height:100px;
	margin-bottom:0px;
	font-size:42px;
	color:#000;
	padding:20px;
	border-left: solid 6px #111;
}

.itemBox .experience .skill {
	margin-bottom: 20px;
}

.itemBox .experience .skill .name {
	padding: 10px 30px 10px 0px;
}

.bar {
	width: 100%;
}

.fullBar {
	position: relative;
	background-color: #FAFAFA;
}

.filledBar {
	background-color:#060;
	width:0%;
	color: #FFF;
	font-size: 26px;
	text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}

.help {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}

.help .ltt {
	margin: 42px 0px;
	font-size: 36px;
}

.stuffDesc {
	font-family: 'Indie Flower', cursive;
	font-size: 36px;
}

.itemsWrapper .itemBox .title {
	padding: 5px 10px;
	margin: -20px -20px 20px -20px;
	background-color: #069;
	color:#FFF;
}

.itemsWrapper .itemBox .title img {
	width:50px;
	margin-right:20px;
	vertical-align: -5px;
}

.itemsWrapper .itemBox a {
	text-decoration: none;
}

.itemsWrapper .itemBox .description {
	font-size: 28px;
	font-family: 'Indie Flower', cursive;
}

.infoWrapper {
	color:#FFF;
	box-shadow:none;
	background-color:rgba(0,52,103,0.97);
}

.infoWrapper img {
	width:100%;
}

.picture {
	padding-top:5px;
	width:50%;
	display:inline-block;
	background-color:#000;
}

.elseWrapper {
	font-family: 'Indie Flower', cursive;
	float:right;
	width:50%;
	display:inline-block;
	font-size:26px;
}

.elseWrapper .title {
	font-size:80px;
}

.padder {
	padding: 26px;
}


.contact {
	background-color:rgba(0,0,0,0.9);
	min-height:300px;
	color:rgba(255,255,255,0.5);
}

.contact .left, .contact .right {
	display:inline-block;
	width:50%;
}

.contact .right {
	float:right;
}

.contact .container {
	padding:40px;
	padding-left:100px;
}

.contact .title {
	font-size:32px;
}

.contact .content {
	color:rgba(255,255,255,0.9);
}

.contact .content a:link, 
.contact .content a:visited, 
.contact .content a:hover {
	text-decoration:none;
	color:rgba(0,132,253,0.97);
}

.copyright {
	margin-top:70px;
	text-align:center;
}

.tech {
	font-size:10px;
}

hr {
	margin:13px 0px;
	border: none;
	border-top:solid thin #CCC;
}
