* {
	margin: 0;
	padding: 0;
}

body {
	font-family:'Montserrat', Verdana, Geneva, Arial, Helvetica, sans-serif;
	overflow-x:hidden;
}

a:link, a:visited {
	color: inherit;
	text-decoration: none;
}

.homeWrapper {
	position: absolute;
	width: 100%;
	background-color:#000;
	text-align:center;
	color:#EEE;
	
}

.homeWrapper .title {
	position:relative;
	color: #FFF;
	letter-spacing:-4px;
}

.homeWrapper .title .blue {
	display:none;
	color:#C00;
}

.homeWrapper .title .other {
	opacity: 0;
	font-size: 0;
}

.homeWrapper .subtitle {
	position: relative;
	top:20px;
	font-size:50px;
	color:rgba(255,255,255,0.8);
	padding:10px;
	width: auto;
	max-width: 100%;
}

.homeWrapper .contact {
	display: none;
	position: absolute;
	bottom: 0px;
	background-color: #010101;
	width: 100%;
	font-size: 16px;
}

.homeWrapper .contact img {
	vertical-align: -2px;
	width: 16px;
}

.homeWrapper .contact .link {
	display: inline-block;
	padding: 5px;
	border-radius: 2px;
}

.homeWrapper .contact .link span {
	padding-left: 0px;
}

.homeWrapper .contact .link:hover {
	background-color: #222;
}

.homeWrapper .contact .link:active {
	box-shadow: inset 0px 0px 5px #000;
}