@font-face {
    font-family: DreamMMA;
    src: url('../fonts/DreamMMA.ttf');
}

@font-face {
    font-family: VenusRising;
    src: url('../fonts/VenusRising.ttf');
}

@font-face {
    font-family: SpyAgency;
    src: url('../fonts/SpyAgency.ttf');
}

@font-face {
    font-family: Nulshock;
    src: url('../fonts/Nulshock.ttf');
}