@keyframes nothing {
    from {
    }
    to {  
    }
}

@keyframes elementFlickering {
    0% {
    	transform: scale(1, 1);
    }
    50% {
    	transform: scale(random(0.9, 0.98), 1);
    }
    100% {
    	transform: scale(1, 1);
    }
}

@keyframes backgroundMovement {
    0% {
        background-position-x: 0%; 
    }
    33% { 
        background-position-x: 50%; 
    }

    66% { 
        background-position-x: -50%; 
    }

    100% { 
        background-position-x: 0%; 
    }
}


@keyframes linkAnimation {
    from {
        color: #2BEDE6;
        text-shadow: 0 0 0 #ED3737;
    }
    to { 
        color: #ED3737;
        text-shadow: 0 0 22px #ED3737;
    }
}

@keyframes nameAnimation {
    from {
        text-shadow: 0 0 20px #C60;
    }

    to {
        text-shadow: 0 0 2px #C60;
    }
}

@keyframes inputAnimation {
    from {
        border-radius: 10px;
        background-color: rgba(00, 51, 50, 0.6);
    }

    to {
        border-radius: 36px;
        background-color: rgba(50, 101, 100, 0.1);
    }
}